@import '../../styles/scss/variables.scss';

.sidebar {
  height: 100%;
  background: $white;
  overflow-y: auto;
  overflow-x: hidden;
  
  .inner-bar {
    padding: 15px 0px 15px 0px;
    .header {
      height: 65px;
      .adjust-menu-bar {
        position: relative !important;
        margin-left: 22px;
      }
      .sidebar-logo {
        margin-top: 10px;
        height: 20px
      }
      svg {
        float: left;
        margin-top: -20.5px;
        margin-left: 20px;
      }
    }
    .flex{
      display: flex;
      justify-content: center;
    }
    .profile-holder{
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
      .name-circle{
        border-radius: 50%;
        color: white;
        background-color: $dark-background;
        width: 40px;
        height: 40px;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        span{
          font-size: 10px;
          font-weight: 500;
        }
      }
      .d-none{
        display: none;
        transform: display 0.5s ease-out;

      }
      .detail-holder{
        transform: display 0.5s ease-out;
        .position{
          font-weight: bold;
          font-size: 16px!important;
        }
        .name{
          font-weight: 500;
          font-size: 14px!important;
          color: grey;
        }
      }
      .caret-icon{
        margin-right: 10px;
        transform: display 0.5s ease-out;

      }
    }
    .main,
    .settings {
      // border: 1px solid white;
      color: white;
      .option {
        display: flex;
        cursor: pointer;
        color: rgb(173, 172, 172);
        padding: 10px 20px 10px 20px;
        // justify-content: space-between;
        i {
          font-size: 22px;
          color: rgb(184, 187, 187);
          
          &:hover{
            color: $dark-background;
            transition: all 0.3s ease-in;
          }
        }
        &:hover{
          color: black;
          background-color: rgba(235, 200, 134, 0.466);
          transition: all 0.3s ease-in;
        }
        span {
          padding: 0 25px;
        }
        margin-bottom: 5px;
      }
    }
  }
}
